body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    box-sizing: border-box;
}

.title-image {
    max-height: 60%;
    width: auto;
    border-radius: 10px; /* Add a border-radius for rounded corners */
}

.video-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

#landingpage-video {
    width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

.title-text {
    color: #333;
    font-size: 15vh;
}

.blur {
    font-size: 15vh;
    color: transparent;
}

@keyframes fadeInBlur {
    from {
        z-index: 999;
        rotateY(50deg);
        font-size: 9vh;
        text-shadow: 0 0 200px #f5f5f5; /* Start with a more pronounced blur */
    }
    to {
        z-index: 999;
        rotateY(0deg);
        font-size: 15vh;
        text-shadow: 0 0 0px #333; /* Start with a more pronounced blur */
    }
}

#hidden-text {
    position: absolute;
    /*background-color: #f5f5f5;*/
    z-index: -1;
}

#jams-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: transparent;
    z-index: 900;
}

@keyframes slideRight {
    from {
        font-weight: lighter;
        left: 40%;
    }
    to {
        font-weight: lighter;
        color: #333;
        left: 67.5%;
    }
}


/*Image part*/
.image-container {
    width: 100vw;
}

.image {
    width: 100%;
    top: 70vh;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: none;
}

.cover {
    position: absolute;
    left: 0;
    width: 100%;
    top: 70vh;
    height: 100%;
    background-color: #f5f5f5;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    transform: translateX(0);
}

@keyframes coverSlide {
    to {
        transform: translateX(-100%); /* Slide the cover to reveal the image */
    }
}

.slide-in-photo img {
    width: 100%; /* Make the image fill its container */
}

