body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5; /* Set a background color for the entire page */
    color: #333; /* Set a default text color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    color: #333;
    text-align: center;
    padding: 50px 0;
}

.title-image {
    max-height: 60%;
    width: auto;
    border-radius: 10px; /* Add a border-radius for rounded corners */
}

header > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 2.5em;
}

.sub-headline {
    font-size: 1.2em;
    margin-top: -.2%;
}

.main-content {
    text-align: center;
    padding: 50px 0; /* Adjust padding as needed */
}


footer {
    background-color: #333; /* Set a background color for the footer */
    color: white; /* Set text color in the footer */
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    padding-left: 100vw;
    padding-right: 1vw;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 30px; /* Add spacing between navigation items */
}

nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: white;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    width: 125px;
}

.cta-button:hover {
    background-color: #333;
}

/* Additional styles for smooth scrolling effect */
body {
    scroll-behavior: smooth;
}


.title-text {
    color: #333;
    font-size: 15vh;
}

.blur {
    font-size: 15vh;
    color: transparent;
}

@keyframes fadeInBlur {
    from {
        rotateY(50deg);
        font-size: 9vh;
        text-shadow: 0 0 200px #f5f5f5; /* Start with a more pronounced blur */
    }
    to {
        rotateY(0deg);
        font-size: 15vh;
        text-shadow: 0 0 0px #333; /* Start with a more pronounced blur */
    }
}

#hidden-text {
    position: absolute;
    background-color: #f5f5f5;
    z-index: 999;
}

#jams-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: transparent;
}

@keyframes slideRight {
    from {
        font-weight: lighter;
        color: #333;
        left: 40%;
    }
    to {
        font-weight: lighter;
        color: #333;
        left: 68%;
    }
}

.title {
    color: #333;
    height: 200vh;
    z-index: 3;
    top: 180vh;
    transform: translateZ(-1px) scale(3.5);
    background-color: black;
}


/*.parallax-container {*/
/*    position: relative;*/
/*    min-height: 100vh;*/
/*    perspective: .2px;*/
/*    transform-style: preserve-3d;*/
/*    background-color: #242321;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.parallax-layer {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/

/*.parallax-layer > img {*/
/*    width: 100%;*/
/*}*/


/*.background-layer {*/
/*    z-index: 0;*/
/*    top: 403px;*/
/*    transform: translateZ(-4.5px) scale(5.5);*/
/*}*/

/*.middle-layer {*/
/*    z-index: 1;*/
/*    top: 289px;*/
/*    transform: translateZ(-3.5px) scale(4.5);*/
/*}*/

/*.foreground-layer {*/
/*    z-index: 2;*/
/*    top: 49px;*/
/*    transform: translateZ(-2.5px) scale(3.5);*/
/*}*/